/*MAIN TAGS*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

html {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a:hover,
a:focus,
a.current {
  color: #2196f3;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

ul, li {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

/*CLASS*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.container .no-padding {
  padding-top: 0;
}

[type=button] {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
}

.filter-list-button .filter-all {
  padding: 6px 25px;
}

[type=button] {
  -webkit-transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
}
[type=button]:hover, [type=button]:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  width: 216px;
  height: 50px;
  margin-top: 30px;
  border: 0px;
  border-radius: 4px;
}
.main-button:hover, .main-button:focus {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 0px;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

/* MODAL */
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
}

.modal-backdrop.is-hidden .modal {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal .close-sign {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-sign:hover {
  fill: #2196f3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  padding: 40px;
}

.modal-header {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 0;
  margin-bottom: 12px;
}

.modal-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
}

.label-name {
  display: block;
  font-size: 12px;
  line-height: 14px;
  line-height: 100%;
  -webkit-box-align: Left;
      -ms-flex-align: Left;
          align-items: Left;
  letter-spacing: 1%;
  margin-bottom: 4px;
}

.send-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.modal-textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}
.modal-textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  -webkit-box-align: left;
          align-items: left;
  vertical-align: Top;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  align-items: left;
  vertical-align: Top;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  -ms-flex-align: left;
      align-items: left;
  vertical-align: Top;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  -ms-flex-align: left;
      align-items: left;
  vertical-align: Top;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  vertical-align: Top;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}

.form-field {
  position: relative;
}

.label-icon {
  position: absolute;
  top: 50%;
  left: 15px;
}

.form-field input:focus + .label-icon {
  fill: #2196f3;
}

.modal-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.modal-input:hover {
  cursor: pointer;
}

.checkbox-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-agree::before {
  content: "";
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12px;
  height: 11px;
  border: 2px solid #000000;
  border-radius: 2px;
}

.checkline input:checked + .checkbox-agree::before {
  background-color: #2196f3;
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2196f3;
}

.modal-form-link {
  text-decoration: underline;
  color: #2196f3;
}

.logo {
  color: #757575;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-half {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left: 0px;
}

/*HEADER*/
.header {
  border-bottom: 1px solid #ECECEC;
  margin: auto;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list__item {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__item:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.menu-link {
  position: relative;
}

.menu-link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -33px;
  cursor: default;
}

.contacts {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts a {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-contacts {
  margin-left: auto;
}

.contacts .link-contact {
  margin-right: 50px;
}

/*HEADER CONTACTS*/
.link-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-mail-icon {
  fill: #757575;
  margin-right: 10px;
}

.link-mail:hover, .link-mail-icon,
.link-mail:focus, .link-mail-icon {
  fill: currentcolor;
}

.link-tel-icon {
  fill: #757575;
  margin-right: 10px;
}

.link-mail:hover, .link-tel-icon,
.link-mail:focus, .link-tel-icon {
  fill: currentcolor;
}

/*HERO*/
.section-hero {
  background: #2f303a;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

.section-hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.section-title {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.hidden-title {
  display: none;
}

.principles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principles__icon-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  margin-right: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

.principles__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.principles__descr {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.section-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section.no-padding {
  padding-top: 0;
}

.container .section-title {
  margin-bottom: 50px;
}

.img-wrapper {
  position: relative;
}

.section-img-descr {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding: 27px auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/*TEAM*/
.section__team {
  background: #F5F4FA;
}

.section-team .section-title {
  color: #212121;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-list .team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.team-list__fuction {
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  margin-top: 10px;
}

.team-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 270px;
  background-color: #ffffff;
  border: 0px solid;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__descr {
  padding: 30px 0 30px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 0;
  margin-top: 16px;
  list-style: none;
}

.social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.social {
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover {
  background: #2196f3;
}

.social__icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

/*OUR REGULAR CLIENTS*/
.clients {
  background-color: #ffffff;
}

.client-logo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.client-logo__item {
  width: 170px;
  height: 92px;
  padding: 0;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-logo__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo__link:hover .client-logo__icon,
.client-logo__link:focus .client-logo__icon {
  fill: #2196f3;
}

.client-logo__item:hover,
.client-logo__item:focus {
  border-color: #2196f3;
}

/* PORTFOLIO */
.filter-list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.image-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.image-list .thumb__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.image-list .thumb__item {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.thumb__descr {
  border: 1px solid #EEEEEE;
  border-top: 0;
  padding: 20px 24px;
}

.thumb__wrapper {
  position: relative;
  overflow: hidden;
}

.thumb__info {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.thumb {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.thumb:hover,
a.thumb:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

a.thumb:hover .thumb__info,
a.thumb:focus .thumb__info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* FOOTER */
.container.no-padding {
  padding: 0;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .footer__list {
  font-style: normal;
}

.footer__list .mail,
.footer__list .tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer__list .mail:hover,
.footer__list .tel:hover {
  color: #2196f3;
}

.footer__list .mail:focus,
.footer__list .tel:focus {
  color: #2196f3;
}

.footer .logo {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.footer__list-element {
  margin-bottom: 9px;
}

.footer__list-element a {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer {
  color: #ffffff;
}
.logo-footer:hover, .logo-footer:focus {
  color: #2196f3;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__social-icon {
  fill: #ffffff;
}

.footer__social-item {
  width: 44px;
  height: 44px;
}

.footer__social-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: #2196f3;
}

.footer__contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}

.footer__mail-input {
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  color: var(--primary-white-color);
}
.footer__mail-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.footer__mail-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.footer__mail-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.footer__mail-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.footer__mail-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.footer__mail-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}/*# sourceMappingURL=main.css.map */