/*HERO*/

.section-hero {
    background: $main-bckgd-color;
    color: $pure-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4)),
     url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px;
}
  
.section-hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}
  
.section-title {
    color: $primary-title-color;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}