/* MODAL */

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms, visibility 500ms;
  }
  
  .modal-backdrop.is-hidden .modal {
    transform: scale(0);
  }
  
  .modal {
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms;
    background-color: $pure-white-color;
    border-radius: 4px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .modal .close-sign {
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  
  .close-sign:hover {
    fill: $accent-blue-color;
  }
  
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .modal-form {
    padding: 40px;
  }
  
  .modal-header {
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.03em;
      color: $primary-title-color;
      padding-top: 0;
      margin-bottom: 12px;
  }
  
  .modal-input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    padding-left: 42px;
  }
  
  .label-name {
    display: block;
    font-size: 12px;
    line-height: 14px;
    line-height: 100%;
    align-items: Left;
    letter-spacing: 1%;
    margin-bottom: 4px;
    
  }
  
  .send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
  
  .modal-textarea {
    height: 120px;
    resize: none;
    padding: 12px 16px;
  
  
  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    align-items: left;
    vertical-align: Top;
    letter-spacing: 1%;
    color: rgba(117, 117, 117, 0.5);
    }
  }
  
  .form-field {
    position: relative;
  }
  
  .label-icon {
    position: absolute;
    top: 50%;
    left: 15px;
  }
  
  .form-field input:focus + .label-icon {
    fill: $accent-blue-color;
  
  }
  
  .modal-input:focus {
    border: 1px solid $accent-blue-color;
    border-radius: 4px;
    outline: none;
  }
  
  .modal-input:hover {
    cursor: pointer;
  }
  
  .checkbox-agree {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .checkbox-agree::before {
    content: "";
    margin-right: 8px;
    display: flex;
    width: 12px;
    height: 11px;
    border: 2px solid #000000;
    border-radius: 2px;
  }
  
  .checkline input:checked + .checkbox-agree::before {
    background-color: $accent-blue-color;
    background-image: url(../images/checked.svg); 
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid $accent-blue-color;
  }
  
  .modal-form-link {
    text-decoration: underline;
    color: $accent-blue-color;
  }
  