$primary-title-color: #212121;
$primary-text-color: #757575;
$accent-blue-color: #2196f3;
$pure-white-color: #ffffff;
$main-bckgd-color: #2f303a;
$second-bckgd-color: #F5F4FA;
$social-icon-color: #AFB1B8;
$border-color: #ECECEC;

$main-font: "Roboto", sans-serif;
$second-font: "Raleway", sans-serif;

